<%-include("layout/header") %>

<main class="contact">
  <div class="ctext">
    <h1>JQube:Leading IT Company</h1>
    <h2>Email:jqubeofficials@gmail.com</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse facilis
      cumque maxime corporis voluptatibus temporibus quas aliquid eligendi
      ullam, quos soluta quaerat necessitatibus quod perspiciatis commodi alias
      veritatis aperiam corrupti obcaecati ex voluptas unde consectetur.
      Molestias dolorum doloribus accusantium blanditiis temporibus a esse,
      cumque impedit eveniet numquam odio porro! Facere??
    </p>
  </div>
</main>
<%-include("layout/footer") %>
